* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  width: 60%;
  margin: auto;
}

.game_board {
  background-image: linear-gradient(to bottom right, #ffe6ee,#660020);
  width: 60%;
  margin: auto;
  padding: 0 0 2rem 0;
}

.form_div {
  width: 50rem;
  margin: 5rem auto 3rem auto;
}

.head {
  text-align: center;
  margin-top: -2rem;
  padding-top: 4rem;
  color: #3366cc;
}

.player {
  color: #006600;
  font-size: 23px;
  padding: 2rem 0 2rem 0;
}

.gameboard {
  background-color: #14BDAC;
  height: 50rem;
  width: 50rem;
  margin: auto;
  padding: 50px;
  border-radius: 25px;
}

.status_reset {
  display: flex;
  font-size: 20px;
  margin-top: 25px;
  justify-content: space-around;
}

.grid-game {
  background-color: #4d4d4d;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  justify-content: space-around;

}

.cell {
  height: 140px;
  width: 140px;
  background-color: #14BDAC;
}